</main>
<footer>
  <aside>
    <small>
      <p>Server-Programmierung <a href="https://nodejs.org/" target="_blank">Node.js</a> und <a href="http://expressjs.com" target="_blank">Express.js</a><br>Datenbank: <a href="https://www.mongodb.com" target="_blank">MongoDB</a><br>Templates: <a href="https://ejs.co" target="_blank">EJS</a><br>Dokumentation & Hilfe:  <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs" target="_blank">MDN Guides, Express Web Framework</a><br>Publikation: <a href="https://dashboard.heroku.com" target="_blank">Heroku</a> und <a href="https://www.mongodb.com/cloud/atlas" target="_blank">MongoDB Atlas</a>.</p>
    </small>
  </aside>
</footer>
</body>
</html>