/* Print CSS */

@media print {
 * { /* print background color */
     -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
     color-adjust: exact !important;  /*Firefox*/
  }

  :root { font-size: 12pt; }

  .no-print { display: none; }

  body { padding-left: 30pt; }

  nav { display: none; }

  main,
  header,
  footer {
    margin: 0;
    padding: 0;
    border: none;
  }
  header h1,
  main h2 { 
    font-size: 14pt;
    margin: 0 0 4pt;
  }

  main h2 { margin-bottom: 14pt; }

  /* Stundenplan */
  main .month { margin-bottom: 6pt; }
  .disclaimer { margin-top: 18pt; }
  main .month h4 { 
    margin: 0 0 3pt;
  }
  /* main .month h4 {margin-bottom: } */
  main .weekend { margin-bottom: 6pt; }
  main .name { border: none; }

  .name,
  .hours,
  .title { background: #dfdfdf; }

  main .disclaimer p,
  footer p { 
    margin : 0 0 2pt;
    font-size: 7pt;
  }

  /* footer p::after { content: " – digitaltypography.zhdk.ch" } */


table td {
  background: transparent !important;
  color: black;
}

a { color: black !important; }
} /* end print styles */